#artikel{
    height: 100vh;
}
@media only screen and (max-width: 992px) {
    #artikel{
        height: 50vh;
    }
}
.title{
    color: #134B6E;
}

.la__image{
        position: relative;
        text-align: center;
        color: white;
}
.overlay {
    position: absolute;
    bottom: 1rem;
    left: 2rem;
  }

/* .list__artikel .col-md-4{
    position: relative;
  text-align: center;
  color: white;
}
.overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */