#artikel{
    transform: translateY(7rem);
}
.title{
    color: #134B6E;
}
#sec_content{
    margin-top: 9rem;
}
.artikel_img{
        height: 12rem;
        width: 100%;
        object-fit: cover;
        filter: brightness(50%);
}
.la__image{
        position: relative;
        text-align: center;
        color: white;
}
.la__image a{
    text-decoration: none;
    color: white;
}
.overlay {
    position: absolute;
    bottom: 1rem;
    left: 2rem;
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .overlay p{
        font-size: .75rem;
    }
    .selengkapnya p{
        font-size: .5rem;
    }
}