/* CAROUSEL */
@media (max-width: 575.98px) { 
    #lg-np{
        display: none;
    }
}
@media (min-width: 575.98px) { 
    #sm-np{
        display: none;
    }
}
.parent_icon{
    padding: .3rem .5rem;
    background-color: black;
    border-radius: 50%;
}
.parent_icon i{
    color: white;
}
#top{
    height: 100vh;
}
#carousel{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #carouselExampleFade{
    height: max-content;
    display: flex;
    align-items: center;
    width: 100%;
  }
  .carousel-inner{
    height: 100%;
    display: flex;
    align-items: center;
  }
  .slider{
    width: 100%;
  }
  .slider a{
    width: 100%;
    height: 100%;
  }
  .carousel-item{
    width: 80%;
    height: 25rem;
  }
  @media (max-width: 576px) {
    .carousel-item{
        width: 80%;
        height: 15rem;
    }
  }
  #carousel_img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* object-fit: contain; */
  }
  .next_prev{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .next_prev .carousel-control-prev{
    /* transform: translate(0, 25%); */
    color: black;
  }
  .next_prev .carousel-control-next{
    /* transform: translate(0, 25%); */
    color: black;
  }
  @media only screen and (max-width: 992px){
    .carousel-item{
      width: 80vw;
      justify-content: center;
      grid-template-columns: 100%;
      grid-template-rows: auto;
      grid-template-areas: 
      'slide_img'
      'slide_desc';
    }
    .slider{
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .ci_image{
      display: flex;
      justify-content: center;
    }
    .carousel-item .ci_desc{
      transform: none;
      margin-top: 2.5rem;
    }
    .ci_desc p{
      text-align: center;
    }
    .ci_desc a{
      display: block;
      text-align: center;
      margin-top: 1rem;
      text-decoration-line: underline;
      text-underline-offset: 7.5px;
      font-size: 1.25rem;
    }
  }


.desc{ grid-area: desc; }
.top__img{ grid-area: top__img; }

.row__top{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}
#top{
    height: max-content;
    transform: translateY(5%);
    align-items: center;
}
@media only screen and (max-width: 650px) {
    #top{
        transform: translateY(20%);
    }
}
@media only screen and (max-width: 577px) {
    #top{
        transform: translateY(40%);
    }
}
.desc h1{
    color: var(--blue-color);
    font-weight: 700;
    font-size: 50px;
}
.desc p{
    font-size: 18px;
    font-weight: 400;
}
.desc a{
    font-weight: bold;
    background-color: var(--blue-color);
}
.logo__img{
    height: 3.5rem;
    /* display: flex; */
    justify-content: center;
}
.logo__img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    aspect-ratio: 3/2;
}
#kategoribarang{
    height: max-content;
    margin-top: -5rem;
    transform: translateY(10rem);
}
.circle{
    top: -5rem
}
.circle1{
    z-index: 1;
    width: 20rem;
    height: 20rem;
    border-radius: 200px;
    background: #19376D;
}
.circle2{
    z-index: 1;
    width: 5rem;
    height: 5rem;
    border-radius: 200px;
    background: #19376D;
}
#ab_lemari{
    -ms-transform: translate(100px,25px); /* Internet Explorer 9 */
    -webkit-transform: translate(100px,25px); /* Safari */
    transform: translate(100px,25px); /* Syntax Standart */	
    position: absolute;
    z-index: 2;
    width: 25%;
}
.cont_3 h1{
    font-weight: 700;
    font-size: 2.2rem;
    color: var(--blue-color);
}
.cont_3 a{
    font-weight: bold;
    background-color: var(--blue-color);
}

.wrapper {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    gap: 10px;
    /* grid-auto-rows: minmax(100px, auto); */
  }
.la__image{
    position: relative;
    text-align: center;
    color: white;
}
.la__image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.item1{ grid-area: w-1; }
.item2{ grid-area: w-2; }
.item3{ grid-area: w-3; }
.item4{ grid-area: w-4; }
.item5{ grid-area: w-5; }

.grid-container{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
    'w-1 w-1 w-2 w-3'
    'w-4 w-5 w-5 w-3';
}
.grid-item img{
    filter: brightness(50%);
}
.overlay {
    position: absolute;
    bottom: 1rem;
    left: 2rem;
    text-align: start;
}
.item1 .overlay p:nth-child(1){
    font-size: 1.75rem;
    width: 95%;
}
.item1 .overlay p:nth-child(2){
    font-size: 1rem;
    width: 95%;
}
.item2 .overlay p{
    font-size: 1.25rem;
    width: 75%;
}
.item3 .overlay{
    position: absolute;
    top: 3rem;
    left: 1rem;
    text-align: start;
}
.item3 .overlay p{
    font-size: 1.5rem;
    width: 75%;
}
.item4 .overlay p{
    font-size: 1.5rem;
}
.item5 .overlay p:nth-child(1){
    font-size: 1.5rem;
    width: 60%;
}


.menu .menu_btn{
    border: 1px solid rgb(187, 186, 186);
    border-radius: 20px;
}
.menu .menu_btn:hover{
    border: 1px solid rgb(187, 186, 186);
    border-radius: 20px;
    background: #19376D;
    color: white;
}
.menu .menu_btn:active, .menu .menu_btn.active{
    border: 1px solid rgb(187, 186, 186) !important;
    border-radius: 20px;
    background: #19376D;
    color: white;
}

#home_list_barang a{
    text-decoration: none;
}
#product{
    height: 100%;
}
.top_product{
    width: 100%;
    padding: 5%;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.top_product img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.stok_terjual p{
    font-size: calc(40% + 0.8vmin);
    font-weight: bolder;
}
.rating i{
    font-size: calc(75% + 0.8vmin);
}
.rating .checked{
    color: #ffc800;
}
@media only screen and (max-width: 425px) {
    .rating i{
        font-size: calc(50% + 0.8vmin);
    }
}

.href-artikel a{
    color: rgba(255, 255, 255, 0.9);
}
#a-genap{
    height: 20rem;
}
@media only screen and (max-width: 992px) {
    #a-genap{
        height: 15rem;
    }
}
@media only screen and (max-width: 768px) {
    #a-genap{
        height: 10rem;
    }
}
@media only screen and (max-width: 600px) {
    #a-ganjil{
        height: 15rem;
    }
}


.href-artikel a:hover{
    color: rgba(255, 255, 255, 1);
}

/* RESPONSIVE KATALOG KAMI */
@media only screen and (max-width: 576px) {
    .top_product{
        height: 7.5rem;
    }
    #product{
        height: max-content;
    }
}
@media only screen and (min-width: 768px) {
    #product{
        height: 100%;
    } 
}
@media only screen and (min-width: 992px) {
    .top_product{
        height: 15rem;
    }
}
@media only screen and (min-width: 1200px) {
}


/* RESPONSIVE TENTANG FURNITURE KITA */
@media only screen and (max-width: 500px) {
    #tfk_right{
        margin-top: -15%;
        text-align: center;
    }
    .circle1{
        width: 15rem;
        height: 15rem;
        border-radius: 200px;
    }
    .circle2{
        width: 3rem;
        height: 3rem;
        border-radius: 200px;
    }
    #ab_lemari{
        transform: translate(100px,-10px);
        width: 50%;
    }
}
@media only screen and (min-width: 500px) and (max-width: 600px) {
    #tfk_right{
        text-align: center;
    }
    .circle1{
        width: 15rem;
        height: 15rem;
        border-radius: 200px;
    }
    .circle2{
        width: 3rem;
        height: 3rem;
        border-radius: 200px;
    }
    #ab_lemari{
        transform: translate(100px,-10px);
        width: 45%;
    }
}
@media only screen and (min-width: 600px) and (max-width: 768px) {
    #ab_lemari{
        width: 50%;
    }
    .cont_3 h1, p{
        text-align: center;
    }
    .cont_3 a{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .circle1{
        width: 15rem;
        height: 15rem;
        border-radius: 200px;
    }
    .circle2{
        width: 3rem;
        height: 3rem;
        border-radius: 200px;
    }
    #ab_lemari{
        transform: translate(80px,0);
        width: 25%;
    }
    #tfk_right{
        align-items: start;
    }
}


/* RESPONSIVE KATEGORI BARANG */
@media only screen and (max-width: 485px) {
    .logo__img img{
        width: 100%;
        margin-bottom: 2rem;
    }
}
@media only screen and (max-width: 768px) {
    .logo__img {
        display: flex;
        justify-content: center;    
    }
    .logo__img img{
        width: 100%;
        aspect-ratio: 3/2;
        object-fit: contain;
        margin-bottom: 2rem;
    }
    .logo{
        padding: 0 .5rem;
    }
}
@media only screen and (min-width: 486px) and (max-width: 600px) {
    .logo__img  img{
        margin-bottom: 4rem;
    }
}
@media only screen and (min-width: 768px) {
    .k_b{
        gap: 2rem;
    }
}


/* RESPONSIVE HOME HEADER */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .desc h1{
        font-size: calc(200% + 0.8vmin);
    }
    .desc p{
        font-size: calc(75% + 0.8vmin);
    }
}
@media only screen and (min-width: 601px) and (max-width: 767px) {
    .top__img{
        order: -1;
    }
    .top__img img{
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .desc h1{
        font-size: calc(200% + 0.8vmin);
        text-align: center;
    }
    .desc p{
        font-size: calc(75% + 0.8vmin);
        text-align: center;
    }
    .desc a{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen and (max-width: 600px) {
    .desc h1{
        font-size: calc(200% + 0.8vmin);
        text-align: center;
    }
    .desc p{
        font-size: calc(75% + 0.8vmin);
        text-align: center;
    }
    .desc a{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}


/* RESPONSIVE KOLASE FOTO */
@media only screen and (max-width: 600px) {
    .top__img{
        order: -1;
    }
    .circle1{
        z-index: 1;
        width: 12.5rem;
        height: 12.5rem;
        border-radius: 200px;
        background: #19376D;
    }
    .desc h1{
        color: var(--blue-color);
        font-weight: 700;
        font-size: 25px;
    }
    .circle2{
        z-index: 1;
        width: 5rem;
        height: 5rem;
        border-radius: 200px;
        background: #19376D;
    }
    .grid-container{
        display: grid;
        gap: 10px;
        grid-template-columns: auto;
        /* grid-template-rows: auto auto; */
        grid-template-areas: 
        'w-1'
        'w-2'
        'w-3'
        'w-4'
        'w-5';
    }
    .cont_3 h1{
        font-weight: 700;
        font-size: 1.5rem;
        color: var(--blue-color);
    }
    .item1 .overlay p:nth-child(1){
        font-size: calc(60% + 0.8vmin);
        width: 40%;
    }
    .item1 .overlay p:nth-child(2){
        font-size: calc(50% + 0.8vmin);
        width: 60%;
    }
    .item2 .overlay p{
        font-size: calc(75% + 0.8vmin);
        width: 75%;
    }
    .item3 .overlay{
        position: absolute;
        top: 3rem;
        left: 2rem;
        text-align: start;
    }
    .item3 .overlay p{
        font-size: calc(75% + 0.8vmin);
        width: 75%;
    }
    .item4 .overlay p{
        font-size: calc(75% + 0.8vmin);
    }
    .item5 .overlay p:nth-child(1){
        font-size: calc(75% + 0.8vmin);
        width: 60%;
    }
    .item5 .overlay p:nth-child(2){
        font-size: calc(50% + 0.8vmin);
    }
}
@media only screen and (min-width: 600px) and (max-width: 992px) {
    .overlay {
        position: absolute;
        /* bottom: rem; */
        left: 1rem;
        text-align: start;
    }
    .overlay p{
        text-align: start;
    }
    .item1 .overlay p:nth-child(1){
        font-size: calc(40% + 0.8vmin);
        width: 40%;
    }
    .item1 .overlay p:nth-child(2){
        font-size: calc(30% + 0.8vmin);
        width: 75%;
        margin-bottom: 0;
    }
    .item2 .overlay p{
        font-size: calc(50% + 0.8vmin);
        width: 75%;
    }
    .item3 .overlay{
        position: absolute;
        top: .5rem;
        left: 1rem;
        text-align: start;
    }
    .item3 .overlay p{
        font-size: calc(50% + 0.8vmin);
        width: 75%;
    }
    .item4 .overlay p{
        font-size: calc(50% + 0.8vmin);
    }
    .item5 .overlay p:nth-child(1){
        font-size: calc(50% + 0.8vmin);
        width: 60%;
    }
    .item5 .overlay p:nth-child(2){
        font-size: calc(30% + 0.8vmin);
        margin-bottom: 0;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .overlay {
        position: absolute;
        /* bottom: rem; */
        left: 1rem;
        text-align: start;
    }
    .item1 .overlay p:nth-child(1){
        font-size: calc(100% + 0.8vmin);
        width: 40%;
    }
    .item1 .overlay p:nth-child(2){
        font-size: calc(50% + 0.8vmin);
        width: 75%;
        margin-bottom: 0;
    }
    .item2 .overlay p{
        font-size: calc(100% + 0.8vmin);
        width: 75%;
    }
    .item3 .overlay{
        position: absolute;
        top: 2rem;
        left: 1rem;
        text-align: start;
    }
    .item3 .overlay p{
        font-size: calc(100% + 0.8vmin);
        width: 75%;
    }
    .item4 .overlay p{
        font-size: calc(100% + 0.8vmin);
    }
    .item5 .overlay p:nth-child(1){
        font-size: calc(100% + 0.8vmin);
        width: 60%;
    }
    .item5 .overlay p:nth-child(2){
        font-size: calc(50% + 0.8vmin);
        margin-bottom: 0;
    }
}