.header{
    transform: translateY(7rem);
}
#sec_content{
    color:#134B6E;
    margin-top: 9rem;
}

.desc__scc{
    width: 55%;
}

.ba__left p:nth-child(1) {
        width: 75%;
        /* font-size: 1.2rem; */
    }
.ba__left p:nth-child(2) {
        width: 60%;
        /* font-size: 1.25rem; */
    }

    /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .header{
        height: 50vh;
    }
    #sec_content{
        color:#134B6E;
        margin-top: 5%;
    }
    .ba__left p:nth-child(1) {
        width: 100%;
        /* font-size: 1.2rem; */
    }
    .ba__left p:nth-child(2) {
        width: 100%;
        /* font-size: 1.25rem; */
    }
    .desc__scc{
        width: 100%;
    }
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .vr{
        display: inherit;
    }
}
